.DS_Store
.idea/
.vscode/
.vs/
node_modules/
# 祥志的windows系统记录git账号信息的文件
.git-credentials.*
dist/
*.iml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
# webpack 打包结果分析文件
stats.json
/src/hock.js

modules/issue/.idea/*
modules/issue/node_modules/*
